/* CSS Document */
pre {
	font-family: monospace; font-size: 1.1em;
}
code {
	font-family: monospace; font-size: 1.1em;
}
acronym {
	letter-spacing: 0.07em; border-bottom-color: rgb(204, 0, 0); border-bottom-width: 0.1em; border-bottom-style: dashed; cursor: help;
}
abbr {
	letter-spacing: 0.07em; border-bottom-color: rgb(204, 0, 0); border-bottom-width: 0.1em; border-bottom-style: dashed; cursor: help;
}
.gray {
	color: gray;
}
.red {
	color: red;
}
.green {
	color: green;
}
.notice_info{color: gray; text-align:right; padding-right:20px;}
.area-selector .areas ul li.issub {
	display:none;
}
.area-selector .areas ul li.show {
	display:block;
}
.are-u-ok {
	margin: 18px 0px 0px; height: 65px; border-top-color: rgb(233, 233, 233); border-top-width: 1px; border-top-style: solid; background-color: rgb(247, 248, 250);
}
.are-u-ok ul {
	margin: 0px 0px 0px 150px;
}
.are-u-ok ul li {
	margin: 15px 30px 0px 0px; float: left;
}
.are-u-ok ul li a {
 display: inline-block; padding-left:15px;height:30px; cursor: pointer; background: url("../images/btn_bg.png");
}
.are-u-ok ul li a span {
 display: inline-block; padding-right:15px;height:30px; line-height:30px;cursor: pointer; background: url("../images/btn_bg.png") right top;
}
.are-u-ok ul li a:link {
	color: rgb(255, 255, 255); font-weight: bold;
}
.are-u-ok ul li a:visited {
	color: rgb(255, 255, 255); font-weight: bold;
}
.choose-area {
	padding: 10px;
}
.choose-area p.wheretoshow {
	margin-bottom: 10px;
}
.choose-area p.wheretoshow label {
	margin-right: 20px;
}
.area-selector {
	width:90%;height: 190px; margin:20px auto 0;
}
.area-selector .areas {
	border: 1px solid rgb(127, 157, 185); width: 220px; height: 178px; overflow: auto; float: left;
}
.area-selector .choosed {
	border: 1px solid rgb(127, 157, 185); width: 220px; height: 178px; overflow: auto; float: left;
}
.area-selector .areas ul {
	margin: 5px;
}
.area-selector .choosed ul {
	margin: 5px;
}
.area-selector .areas ul li {
	margin: 2px 0px; cursor: pointer;
}
.area-selector .choosed ul li {
	margin: 2px 0px; cursor: pointer;
}
.area-selector .areas ul li.issub {
	padding-left: 20px;
}
.area-selector .areas ul li.selected {
	border: 1px solid rgb(204, 204, 204);
}
.area-selector .choosed ul li.selected {
	border: 1px solid rgb(204, 204, 204);
}
.area-selector .areas ul li.added {
	color: rgb(204, 204, 204);
}
.area-selector .actions {
	width: 120px; height: 178px; text-align: center; float: left;
}
.area-selector .actions p {
	margin: 40px 0px;
}
.area-selector {
	height: 190px;
}
.area-selector .areas {
	border: 1px solid rgb(127, 157, 185); width: 220px; height: 178px; overflow: auto; float: left;
}
.area-selector .choosed {
	border: 1px solid rgb(127, 157, 185); width: 220px; height: 178px; overflow: auto; float: left;
}
.area-selector .areas ul {
	margin: 5px;
}
.area-selector .choosed ul {
	margin: 5px;
}
.area-selector .areas ul li {
	margin: 2px 0px;
}
.area-selector .choosed ul li {
	margin: 2px 0px;
}
.area-selector .actions {
	width: 120px; height: 178px; text-align: center; float: left;
}
.area-selector .actions p {
	margin: 40px 0px;
}
.sure_box{ padding-bottom:15px; text-align:center}